---
import ColorSplotch from '../components/ColorSplotch.svelte';
import "@fontsource/inter"
---

<div class="font-inter">
   <div class="flex flex-col items-center  relative overflow-hidden">
      <div class="z-[-50]">
         <!-- <ColorSplotch stylePosition="top: -200px; right: -500px; opacity: 0.7" color="#FF69B4" /> -->
         <ColorSplotch stylePosition="top: -200px; left: 300px; opacity: 0.4" color="#FFA500" />
         <!-- <ColorSplotch stylePosition="top: -250px; left: -500px; opacity: 0.8" color="#ADD8E6" /> -->
         <ColorSplotch stylePosition="top: 100px; right: 0px; opacity: 0.4" color="#6a0dad" />
      </div>

      <nav class="h-20 w-full  flex flex-row justify-center z-50">
         <svg
            class=" relative  top-[100px] anim2 cursor-pointer hover:scale-110 transition duration-500"
            stroke-miterlimit="10"
            style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;  height: 190px;
            top: -25px;"
            viewBox="0 0 3370.82 2384.24"
            ><clipPath id="a"><path d="M0 0h3370.82v2384.24H0z"></path></clipPath><g
               clip-path="url(#a)"
               vectornator:layerName="Layer 1"
               fill="none"
               stroke="#000"
               stroke-width="10"
               ><path
                  id="sig"
                  class="anim"
                  style="stroke-dasharray: 8247.4921875; stroke-dashoffset: 8247.4921875;"
                  d="M-564.474 585.066c-13.642 0-30.067 7.21-30.067 23.737M1266.49 638.871c235.17-264.569-193.96-65.684-280.105 120.271-89.21 192.58 176.165 205.059 174.075 344.988-1.88 125.89-297.936 221.42-371.888 123.43-65.488-86.77 303.998-284.206 346.568-307.002 22.81-12.211 85.95-45.294 74.38-22.156-13.52 27.045-51.28 55.013-66.47 79.126-23.51 37.342 132.06-103.234 117.11-61.718-17.89 49.693-56.83 93.2-82.29 139.26-1.94 3.52-7.69 13.81-4.75 11.08 12.09-11.23 81.29-84.949 79.13-79.127-13.95 37.487-102.8 161.377-112.36 175.657-24.02 35.88-61.68 147.29-74.38 106.03-30.35-98.65 187.52-346.831 259.53-378.22 30.67-13.37-73.54 124.87-61.72 117.11 61.45-40.385 71.75-12.367 112.36-49.062 89.73-81.081 153.91-164.595 231.05-259.532 43.39-53.398 179.65-202.503 120.27-167.746-222.84 130.443-278.58 634.79 49.06 137.679 25.09-38.078-62.17 66.892-90.21 102.863-34.53 44.315-75.99 86.37-94.95 139.261-21.01 58.654 216.07 146.427 113.94 177.237-265.54 80.12-648.28 50.17-922.598 18.99-13.435-1.52 25.227-9.75 37.98-14.24 108.575-38.24 214.858-83.97 325.998-113.94 171.03-46.12 343.61-89.565 519.06-113.94 227.98-31.672 458.93-35.87 688.39-53.806M-708.482 573.988c16.223-29.201 41.244-18.853 71.213-14.243"
               ></path
               ></g
            ></svg>
      </nav>
      <hr />

      <div class="flex flex-col md:flex-row mt-auto items-end">
         <div class="flex flex-col mt-auto md:mb-[250px] md:pr-48 ">
            <p class="text-8xl font-semibold mb-2 whitespace-nowrap">kishan</p>
            <p class="text-8xl font-semibold mb-2 whitespace-nowrap">sripada</p>
            <p class="text-3xl mt-6 font-light italic  mr-auto rounded relative inline-block  bg-clip-padding ">
               <span class="relative text-black">one-of-one</span>
            </p>
            <div class="flex flex-row mt-4 mr-auto child:mr-2">
               <a href="https://www.instagram.com/kishansripada">
                  <svg
                     width="22"
                     height="22"
                     viewBox="0 0 22 22"
                     xmlns="http://www.w3.org/2000/svg"
                     class="hover:fill-pink-600 transition duration-300 ease-in-out">
                     <path
                        d="M5.495 0h11.01A5.494 5.494 0 0 1 22 5.495v11.01A5.494 5.494 0 0 1 16.505 22H5.495A5.494 5.494 0 0 1 0 16.505V5.495A5.494 5.494 0 0 1 5.495 0zM2.2 16.505A3.294 3.294 0 0 0 5.495 19.8h11.01a3.294 3.294 0 0 0 3.295-3.295V5.495A3.294 3.294 0 0 0 16.505 2.2H5.495A3.294 3.294 0 0 0 2.2 5.495v11.01zM5.5 11a5.5 5.5 0 1 1 11 0 5.5 5.5 0 0 1-11 0zm8.8 0a3.3 3.3 0 1 0-6.6 0 3.3 3.3 0 0 0 6.6 0zm2.2-4.4a1.1 1.1 0 1 0 0-2.2 1.1 1.1 0 0 0 0 2.2z"
                        fill-rule="nonzero"></path>
                  </svg>
               </a>
               <a href="https://github.com/kishansripada">
                  <svg width="22" height="22" viewBox="0 0 1024 1024" class="hover:fill-pink-600 transition duration-300 ease-in-out">
                     <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"
                        transform="scale(64)"></path>
                  </svg>
               </a>
               <a href="https://www.linkedin.com/in/kishansripada/">
                  <svg viewBox="0 0 24 24" width="24" height="24" focusable="false" class="hover:fill-pink-600 transition duration-300 ease-in-out">
                     <path
                        d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
                     ></path>
                  </svg>
               </a>
            </div>
         </div>

         <img class="h-[500px] relative right-[50px] pointer-events-none select-none" src="portrait.png" alt="" />
      </div>
   </div>
   <hr />

   <div class=" bg-[#fafafa] flex flex-row   px-[10%] relative">
      <div class="flex flex-col ">
         <p class="tracking-widest text-sm mt-24 mb-16 font-semibold">MY PROJECTS</p>

         <div class="flex flex-col md:flex-row">
            <div class="flex flex-col md:w-1/2 md:pr-9">
               <div class="flex flex-row items-center">
                  <a href="https://www.padatabs.com/" target="_blank">
                     <svg viewBox="0 0 117.35 58.26" class="w-36 hover:fill-purple-500 transition duration-500 ease-in-out hover:scale-110"
                        ><g
                           ><g
                              ><path
                                 d="M25.65,18.83h-.07a12.86,12.86,0,0,0-5.27-1.06c-8.07,0-15.07,4.77-15.07,13.76V45.74a6.3,6.3,0,1,0,7.3,7.08h.09V32.19a8,8,0,0,1-.1-1.31c0-4.4,2.8-7.06,6.5-7.06s6.48,2.66,6.48,7.06S22.73,37.93,19,37.93a6.37,6.37,0,0,1-4.2-1.48v6.24A10.85,10.85,0,0,0,20.31,44C27.46,44,33,38.89,33,30.88,33,25,30.05,20.71,25.65,18.83Z"
                              ></path
                              ><path
                                 d="M46.11,17.76a19.66,19.66,0,0,0-11,3.07L37.78,26a12.22,12.22,0,0,1,7.34-2.37c4,0,5.88,1.84,5.88,5H45.12c-7.78,0-10.95,3.12-10.95,7.63S37.73,44,43.69,44c3.75,0,6.4-1.22,7.78-3.54v3.17h6.92V29.08C58.39,21.37,53.89,17.76,46.11,17.76ZM51,35.58A5.46,5.46,0,0,1,45.54,39c-2.6,0-4.17-1.22-4.17-3.09,0-1.7,1.09-3,4.56-3H51Z"
                              ></path
                              ><path
                                 d="M105.07,17.76a19.6,19.6,0,0,0-11,3.07L96.74,26a12.24,12.24,0,0,1,7.34-2.37c4,0,5.88,1.84,5.88,5h-5.88c-7.77,0-11,3.12-11,7.63S96.69,44,102.66,44c3.74,0,6.4-1.22,7.77-3.54v3.17h6.92V29.08C117.35,21.37,112.85,17.76,105.07,17.76ZM110,35.58A5.46,5.46,0,0,1,104.5,39c-2.6,0-4.16-1.22-4.16-3.09,0-1.7,1.09-3,4.55-3H110Z"
                              ></path
                              ><path
                                 d="M79.67,1.71h2.59V3.16H79.67V4.87h2.6V6.55H79.67V8.26h2.61v.21h0V20.83a9.81,9.81,0,0,0-7.64-3.07c-7.21,0-12.75,5.12-12.75,13.13S67.41,44,74.62,44c3.41,0,6.11-1.09,8-3.31v2.94h7.07V8.47h0V8.26h2.72V6.55H89.63V4.87h2.73V3.16H89.61V1.71h2.74V0H79.67ZM75.91,38c-3.71,0-6.55-2.65-6.55-7.06s2.84-7.07,6.55-7.07c3.41,0,6.13,2.34,6.45,6.27v1.34C82.15,35.52,79.41,38,75.91,38Z"
                              ></path
                              ></g
                           ></g
                        ></svg>
                  </a>
                  <a href="https://padatabs.com" class="pl-6 tracking-wide text-sm duration-300 ease-in-out  hover:translate-x-1 hover:underline"
                     >VISIT <span class="">→</span></a>
               </div>
               <div class="text-[#666666] mt-8 leading-loose">
                  <p class="">
                     Interactive tablatures & synced chords that make learning new songs on the guitar simpler than ever. Chords are synced to Spotify
                     enabling live playback of chords and music simultaneously.
                  </p>
                  <p class="text-sm pt-5">
                     Note: I built the same application with Vue.js and Bootstrap and eventually migrated to SvelteKit. View the original <a
                        class=" underline"
                        href="https://boptabs.netlify.app/#/"
                        target="_blank">here</a
                     >.
                  </p>
               </div>
            </div>

            <iframe
               class="md:w-1/2 md:pl-9 mt-12 md:mt-0"
               height="315"
               src="https://www.youtube.com/embed/2HGNAIPBQkE"
               title="YouTube video player"
               frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
               allowfullscreen></iframe>
            <img class="absolute w-16 opacity-50 right-[100px] top-[100px] rotate-6 pointer-events-none" src="/notes.svg" alt="" />
         </div>

         <div class="flex flex-row justify-center items-center child:px-4 child:mt-16 pointer-events-none flex-wrap">
            <img
               class="w-20 grayscale"
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Svelte_Logo.svg/996px-Svelte_Logo.svg.png?20191219133350"
               alt="" />
            <svg viewBox="0 0 248 31" class="text-slate-900 dark:text-white w-auto h-5 grayscale shrink-0"
               ><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z"
                  fill="#38bdf8"></path
               ><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z"
                  fill="currentColor"></path
               ></svg>
            <img
               class="w-52 grayscale"
               src="https://raw.githubusercontent.com/supabase/supabase/master/packages/common/assets/images/supabase-logo-wordmark--light.svg"
               alt="" />
            <img src="/spotify.svg" class="w-64 grayscale" alt="" />
         </div>
         <div class="flex flex-row justify-center items-center child:px-4 mt-16 pointer-events-none mb-16">
            <img src="/algolia.svg" class="w-44 grayscale" alt="" />
            <img
               src="https://cdn.shortpixel.ai/spai/ret_img/https://opensheetmusicdisplay.org/wp-content/uploads/sites/2/2021/07/osmd-logo-name-orange-v2a.svg"
               class="w-72 grayscale"
               alt="" />
         </div>
      </div>
   </div>

   <hr />
   <div class=" flex flex-row   px-[10%] relative">
      <div class="flex flex-col ">
         <p class="tracking-widest text-sm mt-24 mb-16 font-semibold"></p>

         <div class="flex flex-col md:flex-row-reverse">
            <div class="flex flex-col md:w-1/2 md:pl-9  text-right">
               <div class="flex flex-row items-center">
                  <a
                     href="https://www.naach.app"
                     class="pr-6 tracking-wide text-sm duration-300 ease-in-out ml-auto  hover:translate-x-1 hover:underline"
                     >VISIT
                  </a>
                  <a href="https://www.naach.app" target="_blank"> <img src="https://iili.io/bEM8DF.png" class="w-64 " alt="" /> </a>
               </div>
               <div class="text-[#666666] mt-8 leading-loose">
                  <p class="">
                     Naach is a tool for choreographers, who want to speed up their visualisation process. Simply place your dancers on your stage in
                     different formations and the transitions are automatically generated.
                  </p>
                  <!-- <p class="text-sm pt-5">
                     Note: I built the same application with Vue.js and Bootstrap and eventually migrated to SvelteKit. View the original <a
                        class=" underline"
                        href="https://boptabs.netlify.app/#/"
                        target="_blank">here</a
                     >.
                  </p> -->
               </div>
            </div>

            <iframe
               class="md:w-1/2 md:pr-9 mt-12 md:mt-0"
               height="315"
               src="https://www.youtube.com/embed/1dj8L5tUAjU"
               title="YouTube video player"
               frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
               allowfullscreen></iframe>
            <img class="absolute w-16 opacity-50 right-[100px] top-[100px] rotate-6 pointer-events-none" src="/notes.svg" alt="" />
         </div>

         <div class="flex flex-row justify-center items-center child:px-4 child:mt-16 pointer-events-none flex-wrap">
            <img
               class="w-32  grayscale"
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
               alt="" />
            <svg viewBox="0 0 248 31" class="text-slate-900 dark:text-white w-auto h-5 grayscale shrink-0"
               ><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z"
                  fill="#38bdf8"></path
               ><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z"
                  fill="currentColor"></path
               ></svg>
            <img
               class="w-52 grayscale"
               src="https://raw.githubusercontent.com/supabase/supabase/master/packages/common/assets/images/supabase-logo-wordmark--light.svg"
               alt="" />
            <img src="https://1000logos.net/wp-content/uploads/2021/04/Soundcloud-logo.png" class="w-36 grayscale" alt="" />
         </div>
         <div class="flex flex-row justify-center items-center child:px-4 mt-16 pointer-events-none mb-16">
            <img
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Nextjs-logo.svg/800px-Nextjs-logo.svg.png"
               class="w-44 grayscale"
               alt="" />
            <img
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1024px-Typescript_logo_2020.svg.png"
               class="w-24 grayscale"
               alt="" />
         </div>
      </div>
   </div>
   <!-- <div class="h-[800px] text-[#00274C] flex flex-col items-center relative px-[15%]">
      <p class="tracking-widest text-sm mt-16 text-[#666666] font-semibold pb-16">MY EDUCATION</p>
      <div class="flex flex-row w-full">
         <div class="w-1/2"></div>
         <div class="h-48    rounded-xl flex flex-col w-1/2 ml-48 ">
            <p class="text-[#00274C] text-[24px] font-semibold tracking-wide">University of Michigan</p>
            <p class="text-[#00274C] text-[16px] tracking-wider leading-tight">School of Information</p>
            <p class="text-[#00274C] text-xs tracking-wider pt-2 italic">Bachelor of Science in Information</p>
         
         
         </div>
      </div>

      <div class=" w-3 bg-gradient-to-b from-[#00274C]  to-[#FFCB05] rounded-full absolute h-[700px] top-[150px] "></div>
      <div class=" w-5  bg-[#FFCB05] rounded-full absolute h-5 top-[165px] ring-1 ring-[#00274C] "></div>
   </div> -->
</div>

<style>
.anim {
   animation: sign 4s ease;
   animation-fill-mode: forwards;
}

/* .anim2 {
   animation: moveToNav 2s ease;
   animation-delay: 3000ms;
   animation-fill-mode: forwards;
}

@keyframes moveToNav {
   to {
      height: 190px;
      top: -25px;
   }
} */

@keyframes sign {
   to {
      stroke-dashoffset: 0;
   }
}
</style>
